[submodule "libs/factory/bootstrap"]
	path = libs/factory/bootstrap
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-bootstrap/
[submodule "libs/factory/core"]
	path = libs/factory/core
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-core/
[submodule "libs/factory/forms"]
	path = libs/factory/forms
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-forms/
[submodule "libs/factory/pages"]
	path = libs/factory/pages
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-pages/
[submodule "libs/onepress/compiler"]
	path = libs/onepress/compiler
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-compiler/
[submodule "libs/factory/clearfy"]
	path = libs/factory/clearfy
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-clearfy
[submodule "libs/factory/freemius"]
	path = libs/factory/freemius
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-freemius
[submodule "libs/factory/feedback"]
	path = libs/factory/feedback
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-feedback
[submodule "libs/hide-login-page"]
	path = libs/hide-login-page
	url = ssh://git@bitbucket.org/webcraftic/wp-plugin-hide-login-page
[submodule "libs/two-factor"]
	path = libs/two-factor
	url = https://github.com/Creative-Motion-Development/wp-plugin-two-factor-auth
