#wpfooter
{
    position: initial !important;
    display: inline;
}
.wt-dashboard-container
{
    margin: 10px 5px 10px 5px;
    /*display: inline-block;*/
}
.wt-dashboard-block
{
    /*width: 100%;*/
    border: 1px solid #d6d6d6;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    min-height: 14em !important;
}
.wt-row
{
    width: 100%;
    display: inline-block;
}
.wt-dashboard-block div.row
{
    padding: 0 15px 0 15px;
}
.wt-block-gutter
{
    padding: 0 10px 0 5px !important;
}
.wt-dashboard-block-header
{
    text-align: left;
    padding: 0 !important;
}
.wt-dashboard-block-header h4
{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    color: #868686;
    text-transform: uppercase;
}
.wt-dashboard-block-header-right
{
    text-align: right;
}
.wt-dashboard-block-content
{
    margin: 10px -20px 10px 20px;
    text-align: left;
}
.wt-dashboard-block-content-right
{
    margin: 10px 20px 10px -20px;
    text-align: right;
}
.wt-block-description
{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    color: #868686;
}
.wt-firewall-icon-ok, .wt-firewall-icon-clock, .wt-firewall-icon-dissmiss, .wt-dashboard-icon-loader
{
    width: 50px;
    height: 60px;
    display: inline-block;
}
.wt-firewall-icon-ok{
    background: url('../img/check.png') no-repeat center bottom;
    background-size: contain;
}
.wt-firewall-icon-clock{
    background: url('../img/clock.png') no-repeat center bottom;
    background-size: contain;
}
.wt-firewall-icon-dissmiss{
    background: url('../img/x.png') no-repeat center bottom;
    background-size: contain;
}
.wt-dashboard-icon-loader
{
    background: transparent url("../img/loader.gif") no-repeat center bottom;
    background-size: contain;
}

.wt-block-loading
{
    opacity: 0.5;
}
.wt-checkbox
{
    background-color: #5d05b7 !important;
    border: 2px solid #5d05b7 !important;
    border-radius: 5px !important;
}

.factory-bootstrap-000 .factory-buttons-way .factory-on.active
{
    background-color: #5d05b7 !important;
    box-shadow: none !important;
    border: none !important;
}
.factory-bootstrap-000 .factory-buttons-way .factory-off.active
{
    background-color: #5d05b7 !important;
    box-shadow: none !important;
    border: none !important;
}
.wt-scanner-tabs-container
{
    background: #fff !important;
}
.factory-bootstrap-000 .nav-tabs>li.active>a, .factory-bootstrap-000 .nav-tabs>li.active>a:focus, .factory-bootstrap-000 .nav-tabs>li.active>a:hover
{
    background-color: #efefef !important;
}
.wtitan-tab-table-container
{
    background-color: #efefef !important;
}
.wtitan-scanner-vulner-table-container table thead td
{
    background-color: #efefef !important;
}
/*----------------*/
.wt-scan-icon-loader
{
    height: 55px;
    background: transparent url("../img/loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
}
.wt-magenta-text
{
    color: #5d05b7;
    font-weight: 500;
}
.wt-dashboard-audit-button, .wt-dashboard-scan-button
{
    font-size: 16px !important;
}
.wt-dashboard-audit-button
{
    margin: 20px 10px 0 0 !important;
}
/*--- Scanner -------*/
.wt-scanner-chart, .wt-scanner-legend
{
    border-radius: 5px;
    margin: 0 10px 10px 10px;
}
.wt-scanner-chart-clean, .wt-scanner-chart-suspicious, .wt-scanner-chart-notverified
{
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    display: inline-block !important;
    content: "";
    height: 30px;
    margin: 0 -5px;
    position: relative;
}
.wt-scanner-chart-clean
{
    background-color: #5d05b7;
    z-index: 10;
    border-right: 0;
}
.wt-scanner-chart-suspicious
{
    background-color: #f6065b;
    z-index: 9;
    border-right: 0;
}
.wt-scanner-chart-notverified
{
    background-color: #dadada;
    z-index: 8;
}

.wt-scanner-legend td {
    padding: 0 0 0 10px;
    font-size: 12px;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
span.wt-legend-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 6px;
}
.wt-scanner-legend td:nth-child(odd){
    padding: 0 0 0 20px !important;
}
.wbcr-titan-content
{
    overflow: auto;
    height: 500px;
}
.wbcr-titan-content table thead th
{
    text-align: center;
}
.wbcr-titan-content table tbody td:first-child
{
    text-align: left;
    padding: 10px 20px;
}